body {
  margin: 0;
  font-family: Lato;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 110px 90px 550px 100px;
  border: 1px solid rgb(255, 255, 255, 0.5)
  border-color: #bbbbbb;
  grid-template-areas:
    "head"
    "top"
    "main"
    "footer";
}

.head {
  grid-area: head; 
  background-color:#3390ff;
  color: white;
}



.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ADD8E6;
}


.image {
	display: flex;
}


.Bienvenu {
  
  font-size: 15px;
  margin-bottom: 25px;
  font-weight: bold;
}

.main{
  
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-color: #bbbbbb;
}



.login-form .label {
  
  color: #524a4a;
  font-size: 14px;
  letter-spacing: 2px;
}

.login-form .input {
  margin: 5px 0 15px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.login-form .forgot a {
  color: #6e8d30;
  font-size: 18px;
  margin-bottom: 55px;
}

.btn {
 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #54b3ea;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
}



.footer{
	
	grid-area: footer; 
    justify-self: stretch;
    background-color:#3390ff;
    color: white;
}

.container {
    flex-wrap:nowrap;
    align-items: stretch
}
